body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 6em;
  text-align: center;
}
nav {
  font-size: 1.5em;
}

ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}

/* @media (max-width: 800px) and (min-width: 800px) {
  h1 {
    color: purple;
  }
} */

/* Cambiando sin valor inicial y por intervalos
@media (max-width: 1500px) {
  h1 {
    color: purple;
  }
}

@media (max-width: 1000px) {
  h1 {
    color: red;
  }
}

@media (max-width: 500px) {
  h1 {
    color: pink;
  }
} */

/* Colocando un valor inicial y cambiandolo*/
h1 {
  color: brown;
}

@media (min-width: 500px) {
  h1 {
    color: purple;
  }
}

@media (min-width: 1000px) {
  h1 {
    color: red;
  }
}

@media (min-width: 1500px) {
  h1 {
    color: pink;
  }
}

@media (orientation: landscape) {
  body {
    background-color: magenta;
  }
}
